
<h3>
    <a id="{{label}}"></a>{{label}}
    {{#if isEntry}}
        [Entry]
    {{/if}}
</h3>
<p>
    {{#if description}}
        {{description}}
    {{else}}
        Description is still in progress. 
    {{/if}}
    {{> schema_concepts}}
</p>
<table>
  <thead>
    <tr>
{{!--       <th>Value</th>
      <th>Count</th>
      <th>Description</th> --}}
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {{#if basedOn }}
    {{!--     {{log "Begin basedon"}} --}}
    {{!--     {{> schema_basedon origvalue=value fields=children}} --}}
    {{!--     {{log basedOn}}
        {{log value}}
        {{log children}}
        {{log "End basedon
        "}} --}}
    {{else}}
        {{#if value}}
            {{> schema_value value }}
        {{/if}}
        {{> schema_fields }}
    {{/if}}

  </tbody>
</table>
