
<h3>
    <a id="{{label}}"></a>{{label}}
    {{#if isEntry}}
        [Entry]
    {{/if}}
</h3>
<p>
    {{#if description}}
        {{description}}
    {{else}}
        TBD 
    {{/if}}
    {{> schema_concepts}}
</p>
{{#if basedOn }}
{{!--     {{log "Begin basedon"}} --}}
{{!--     {{> schema_basedon origvalue=value fields=children}} --}}
{{!--     {{log basedOn}}
    {{log value}}
    {{log children}}
    {{log "End basedon
    "}} --}}
{{else}}
    {{#if value}}
        {{!-- {{log "Begin Value"}}
        {{log value}}
        {{log "End Value
        "}} --}}
        
    {{else}}
{{!--         {{log "Begin molecular element."}}
        {{log children}}
        {{log "End molecular element?
        "}} --}}
        {{> schema_fields }}
    {{/if}}
    {{!--     {{> schema_value value }} --}}
{{/if}}
