{{#eq label "HealthcareRole"}}
  {{log this}}
{{/eq}}
{{#if constraints}}
  {{#each constraints}}  
    {{#eq type "BooleanConstraint"}}
      {{#if value}}
        where <code>boolean</code> is <code>{{value}}</code>
      {{else}}
        where <code>boolean</code> is <code>TBD</code>
      {{/if}}
    {{else}}
      {{#eq type "ValueSetConstraint"}}
        {{!-- Either the shr spec needs to have better pathing, or we need to do some clever regexing to build paths for vsets --}}
        {{#if valueset}}
          from <a href="{{valueset}}"><code>{{valueset}}</code></a>
        {{else}}
          from valueset <code>TBD</code>
        {{/if}}
      {{else}}
        {{!-- {{#eq type "CodeConstraint"}}

        {{else}}
          {{#eq type "CardConstraint"}}

          {{else}}
            {{#eq type "IncludesCodeConstraint"}}

            {{else}}
              {{#eq type "TypeConstraint"}}

              {{else}}
                {{log "new constraint"}}
                {{log this}}
                {{log "end constraint
                "}}
              {{/eq}}
            {{/eq}}
          {{/eq}}
        {{/eq}} --}}
      {{/eq}}
    {{/eq}}
  {{/each}}   
{{/if}}
{{#if identifier}}
    {{#eq identifier.namespace "primitive"}}
        {{!-- Nothing as of now --}}
    {{else}}
        {{ getElementDescription @root.shr_v4 identifier.namespace identifier.label }}
    {{/eq}}
{{else}}
    TBD
{{/if}}