{{#eq type "BooleanConstraint"}}
	is {{this.value}}
{{else}}
	{{#eq type "CodeConstraint"}}
		{{#if path}}
			{{pathtodisplay path}} is {{> shr_concept code}} <br>
		{{else}}
			is {{> shr_concept code}} <br>
		{{/if}}
	{{else}}
		{{#eq type "ValueSetConstraint"}}
			{{#if bindingStrength}}
				{{#eq bindingStrength "REQUIRED"}}
				must be 
				{{else}}
					{{#eq bindingStrength "PREFERRED"}}
					should be 
					{{else}}
						{{#eq bindingStrength "EXAMPLE"}}
						could be 
						{{/eq}}
					{{/eq}}
				{{/eq}}
			{{/if}}					
			{{#if valueset}}
				{{#if (isSHRValueSet valueset)}}
					{{#eq (getValuesetLink valueset @root.vsetsLookup) "TBD"}}
            			from <a><code data-toggle="tooltip" data-placement="top" title="Valueset not yet available" data-original-title="Valueset not yet available">{{valueset}}</code></a> <br>
					{{else}}
						from <a href="{{getValuesetLink valueset @root.vsetsLookup}}"><code>{{getValuesetLabel valueset @root.vsetsLookup}}</code></a> <br>
					{{/eq}}
				{{else}}
					from <a href="{{valueset}}"><code>{{valueset}}</code></a> <br>
				{{/if}}
			{{else}}
			  from valueset <code>TBD</code> <br>
			{{/if}}
			{{#if bindingStrength}}  
				{{#eq bindingStrength "EXTENSIBLE"}}
				(if covered) <br>
				{{/eq}}
			{{/if}}
		{{else}}
			{{#eq type "IncludesCodeConstraint"}}
				includes {{> shr_concept code}} <br>
			{{else}}
				{{#eq type "TypeConstraint"}}
					must be a {{> shr_label namespace=isA.namespace label=isA.label }} <br>
				{{else}}
					{{#eq type "IncludesTypeConstraint"}}
						includes {{> shr_cardinality min=this.min max=this.max }} {{> shr_label namespace=isA.namespace label=isA.label}} <br>
					{{else}}
						{{#eq type "CardConstraint"}}
						{{else}}
							{{#eq type undefined}}
							{{else}}
								{{log "unknown constraint type"}}
								{{log type}}
								{{type}}
							{{/eq}}
						{{/eq}}
					{{/eq}}
				{{/eq}}
			{{/eq}}
		{{/eq}}
	{{/eq}}
{{/eq}}