{{!-- {{#if this}} --}}
	{{#if namespace}}
		{{#eq namespace "primitive"}}
			<a><code data-toggle="tooltip" data-placement="right" title="Primitive dataelement" data-original-title="Primitive dataelement">{{label}}</code></a>
		{{else}}
			<a href="/shr/{{getNamespaceFilename namespace}}#{{label}}"> <code>{{label}}</code></a>
		{{/eq}}
	{{else}}
		{{#if label}}
			{{label}}
		{{else}}
			{{#if text}}
			<code>{{text}}</code> (<i>TBD</i>)
			{{else}}
			<i>TBD</i>
			{{/if}}
		{{/if}}
	{{/if}}
{{!-- {{else}}
    <a href="#">{{text}}</a>
{{/if}} --}}