
<h3>
    <a id="{{label}}"></a>{{label}}
	{{#if isEntry}}
		[<a href="Base.html#Entry">Entry</a>]
    {{/if}}
</h3>
<p>
    {{#if description}}
        {{description}}
    {{else}}
        No Description 
    {{/if}}
    {{> shr_concepts}}
</p>
{{#if basedOn}}
	{{#each basedOn as |basedon|}}
		<p>{{> shr_basedon basedon obj=../this }}</p>
	{{/each}}
{{/if}}
<table>
  <tbody>
        {{#if value}}
            {{> shr_value value }}
		{{else}}
			{{#if basedOn}}
				{{#each basedOn as |basedon|}}
					{{#elementvalue @root.shr_v4 namespace label }}
						{{>shr_field isValue=true isChoice=isChoice isFromBase=true base=@base}}
					{{/elementvalue}}
				{{/each}}
			{{/if}}
        {{/if}}
		{{> shr_fields }}
  </tbody>
</table>
