{{#eq type "BooleanConstraint"}}
	is {{this.value}}
{{else}}
	{{#eq type "CodeConstraint"}}
		{{#if path}}
			{{pathtodisplay path}} is {{> shr_concept code}}
		{{else}}
			is {{> shr_concept code}}
		{{/if}}
	{{else}}
		{{#eq type "ValueSetConstraint"}}
			{{#if valueset}}
				{{#if (isSHRValueSet valueset)}}
					from <a><code data-toggle="tooltip" data-placement="top" title="Valueset not yet defined" data-original-title="Valueset not yet defined">{{valueset}}</code></a>
				{{else}}
					from <a href="{{valueset}}"><code>{{valueset}}</code></a>
				{{/if}}
			{{else}}
			  from valueset <code>TBD</code>
			{{/if}}								
		{{else}}
			{{#eq type "IncludesCodeConstraint"}}
				includes {{> shr_concept code}} 
			{{else}}
				{{#eq type "TypeConstraint"}}
					must be a {{> shr_label namespace=isA._namespace label=isA._name }}
				{{else}}
					{{#eq type "CardConstraint"}}
					{{else}}
						{{#eq type undefined}}
						{{else}}
							{{log "unknown constraint type"}}
							{{log type}}
							{{type}}
						{{/eq}}
					{{/eq}}
				{{/eq}}
			{{/eq}}
		{{/eq}}
	{{/eq}}
{{/eq}}