<td>
{{#if childValue}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/if}}
{{#if isChoice}}|&nbsp;{{else}}{{#if isValue }}Value:&nbsp;{{/if}}{{/if}}
{{#if isSubElement}}where&nbsp;{{/if}}
{{#if identifierList }}
{{#each identifierList as |i|}}
{{!-- in an id list --}}
{{> shr_label i }}.
{{/each}}
{{/if}}
{{> shr_label }}
{{#if this.foundin.length }}
{{#ne this.foundin.[0] this.concretedataelement}}
    {{#if this.foundin.[0]}}
        <sup><a data-toggle="tooltip" data-placement="right" title="Found in {{this.foundin.[0]}}" data-original-title="Found in {{this.foundin.[0]}}" href="/{{getNamespaceFilename (getElementNamespace @root.shr_v4 this.foundin.[0])}}#{{this.foundin.[0]}}" aria-label='Visit this dataelement'><i class="fa fa-external-link" aria-hidden="true"></i></a></sup>
    {{else}}
        {{#eq this.namespace "primitive"}}
            <sup><a data-toggle="tooltip" data-placement="right" title="Is primitive type" data-original-title="Is primitive type" aria-label='Visit this dataelement'><i class="fa fa-external-link" aria-hidden="true"></i></a></sup>
        {{else}}
			<sup><a data-toggle="tooltip" data-placement="right" title="Found in {{this.label}}" data-original-title="Found in {{this.label}}" href="/{{getNamespaceFilename (getElementNamespace @root.shr_v4 this.label)}}#{{this.label}}" aria-label='Visit this dataelement'><i class="fa fa-external-link" aria-hidden="true"></i></a></sup>
        {{/eq}}
    {{/if}}
{{/ne}}
{{/if}}
{{#if isTBD}}
(TBD)
{{/if}}
</td>
<td>
	{{> shr_basedon_constraints }}
</td>
<td>{{> shr_cardinality this.effectivecardinality }}</td>
<td>
	{{description}}
</td>
