{{!-- {{#if this}} --}}
	{{#if namespace}}
		{{#eq namespace "primitive"}}
			<a href="#"><code>{{label}}</code></a>    
		{{else}}
			<a href="{{getNamespaceFilename namespace}}#{{label}}"> <code>{{label}}</code></a>
		{{/eq}}
	{{else}}
		{{#if label}}
			{{label}}
		{{else}}
			{{#if text}}
			<code>{{text}}</code> (<I>TBD</I>)
			{{else}}
			<I>TBD</I>
			{{/if}}
		{{/if}}
	{{/if}}
{{!-- {{else}}
    <a href="#">{{text}}</a>
{{/if}} --}}